node_modules/
berlin/raw/
berlin/build/out/
berlin/build/prev/
berlin/build/*.wav
berlin/build/contact.jpg
berlin/build/cmp.jpg
berlin/build/check_cut.jpg
berlin/assets/voice16.f32
berlin/assets/voice.wav
berlin/build/final_*.jpg
berlin/build/thumbs_cmp.jpg
node_modules/
mcdonalds/raw/
mcdonalds/build/out/
mcdonalds/build/*.wav
mcdonalds/build/*.f32
mcdonalds/build/shots/
mcdonalds/long/raw/
mcdonalds/long/build/out/
mcdonalds/long/build/*.wav
mcdonalds/long/build/*.f32
mcdonalds/long/build/shots/
mcdonalds/long/*-partie-*.mp4
rolex/raw/
rolex/build/out/
rolex/build/*.wav
rolex/build/*.f32
rolex/build/shots/
rolex/*-partie-*.mp4
paypal/raw/
paypal/build/out/
paypal/build/*.wav
paypal/build/*.f32
paypal/build/shots/
paypal/*-partie-*.mp4
blockbuster/raw/
blockbuster/build/test/
blockbuster/build/out/
blockbuster/build/*.wav
blockbuster/build/*.f32
blockbuster/build/shots/
blockbuster/build/recut/
blockbuster/*-partie-*.mp4
